@charset "UTF-8";
/* CSS Document */

@font-face {
	font-family: 'Conv_UltraCondensedSansSerif';
	src: url("images/fonts/UltraCondensedSansSerif.eot"), 
		 url("fonts/UltraCondensedSansSerif.woff") format("woff"),
		 url("fonts/UltraCondensedSansSerif.ttf") format("truetype"),
		 url("fonts/UltraCondensedSansSerif.otf") format("opentype"),
		 url("fonts/UltraCondensedSansSerif.svg") format("svg");
	font-stretch: ultra-condensed;
	font-weight: normal;
	font-style: normal;	
}

.header {
	/* Padding */
	padding: 12px 10px 6px;
	height: 30px;
	
	/* Reset typography */
	font-size: 20px;
	background-color: rgba(255, 255, 255, 0.95);
	vertical-align: baseline;
	
	/* Floating */
	position: fixed;
	top: 0px;
	left: 0px;
	right: 0px;
	clear: both;
	vertical-align: bottom;
	
	/* Bottom hair line */
	border-bottom: solid;
	border-bottom-width: 1px;
	border-bottom-color: #F9C;
}

.footer {
	/* Padding */
	padding: 6px 10px 12px;
	height: 30px; 
	
	/* Reset typography */
	font-size: 13px;
	background-color: rgba(255, 255, 255, 0.95); 
	vertical-align: baseline;
	
	/* Floating */
	position: fixed;
	bottom: 0px; 
	left: 0px; 
	right: 0px; 
	clear: both;
	margin-top: 6px;
	
	/* Top hair line */
	border-top: solid;
	border-top-width: 1px;
	border-top-color: #F9C;
}

.menu {
	padding: 6px 6px 6px 10px; 
	margin-left: 0px; 
	margin-bottom: 60px; 
	float: left; 
	background-color: #ccc; 
	width: 300px; 
	border-style: none solid none none; 
	border-width: 0px 3px 0px 0px; 
	border-color: #333; 
	font-size: 13px;
}

.bracer {
	float: right;
	margin: 6px;
	text-align: center;
	width: 250px;
	margin: 6px;
	border-color: #ccc;
	border-width: 1px;
	border-style: dotted;
	font-size: 13px;
	padding: 6px;
}

.sg-title {
	font-family: 'Conv_UltraCondensedSansSerif';
	font-size: 20px;
	text-transform: uppercase;
}
